/* APP LAYOUT */
.app-container{
  display:flex;
  flex-direction:column;
  height:100vh;
  width:100%;
  background:#fff;
  overflow:hidden;
  font-family:Inter,sans-serif;
}


/* NAVBAR */
.navbar{
  height:60px;
  display:flex;
  align-items:center;
  border-bottom:1px solid #eee;
  background:#fff;
  flex-shrink:0;
}


/* BODY LAYOUT (SIDEBAR + CONTENT) */
.body-layout{
  display:flex;
  flex:1;
  overflow:hidden;
}


/* SIDEBAR */
.sidebar{
  width:220px;
  background:#D6E9FD;
  display:flex;
  flex-direction:column;
  padding:24px 12px;
  transition:all .3s ease;
}

.sidebar.collapsed{
  width:70px;
}


/* SIDEBAR HEADER */
.sidebar-header{
  display:flex;
  align-items:center;
  justify-content:center;
  padding-bottom:30px;
}


/* NAVIGATION */
.sidebar-nav,
.menu-section{
  display:flex;
  flex-direction:column;
  flex:1;
}


/* MENU ITEM */
.nav-item{
  display:flex;
  align-items:center;
  gap:12px;
  padding:12px 16px;
  margin-bottom:8px;
  border-radius:12px;
  cursor:pointer;
  color:#6f767e;
  font-weight:500;
  transition:all .2s ease;
}

.nav-item:hover{
  background:#ede9fe;
  color:#F5B233;
}


/* ACTIVE MENU */
.nav-item.active{
  background: #fff;
  color:#F5B233;
  box-shadow:0 10px 15px -3px rgba(139,92,246,0.3);
}


/* ICON */
.nav-icon{
  display:flex;
  align-items:center;
  justify-content:center;
  min-width:28px;
  font-size:20px;
}


/* TEXT */
.nav-text{
  font-size:15px;
  white-space:nowrap;
}


/* COLLAPSED SIDEBAR */
.sidebar.collapsed .nav-text{
  display:none;
}

.sidebar.collapsed .nav-item{
  justify-content:center;
  padding:12px 0;
}


/* MAIN CONTENT (SCROLL HERE) */
.main-content{
  flex:1;
  display:flex;
  flex-direction:column;
  overflow-y:auto;   /* changed */
  transition:all .3s ease;
}


/* PAGE CONTENT */
.page-content{
  padding:20px;   /* removed flex + scroll */
  flex:1; 
}


/* FOOTER */
.footer{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding: 10px;
  background:#fff;
  border-top:1px solid #eee;
}

.footer-logo{
  height:70px;
  width:60px;
  margin-top:5px;
}


/* SUBMENU */
.submenu{
  margin-left:30px;
  display:flex;
  flex-direction:column;
}

.submenu-item{
  padding:8px 12px;
  font-size:14px;
  color:#6f767e;
  cursor:pointer;
}

.submenu-item:hover{
  color:#8b5cf6;
}